.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .profile {

    flex-direction: column;
    min-width: 510px;
    min-height: 530px;
    padding: 60px 0;

    &__avatar {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 60px;
    }

    &__data {
      > div {
        text-align: right;

        > span {
          float: left
        }
      }

      margin-bottom: 50px;
    }

    &__change {
    }
  }

}