<h1>Смена пароля</h1>
<form id="signupForm" method="POST" action="/signup">

    <div class="form-group">
        <label for="oldPassword">Старый пароль:
            <input id="oldPassword" class="form-control" name="oldPassword" type="password" required minlength="8">
        </label>
    </div>
    <div class="form-group">
        <label for="newPassword">Новый пароль:
            <input id="newPassword" class="form-control" name="newPassword" type="password" required minlength="8">
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Сменить пароль</button>
</form>
