<button><a href="./chat.hbs">Назад</a></button>

{{> user}}
<div>
    <div>
        <div>Почта</div>
        <div>Логин</div>
        <div>Имя</div>
        <div>Фамилия</div>
        <div>Телефон</div>
        <div>Имя в чате</div>
    </div>
    <footer>
        <button type="button" class="btn btn-primary">
            <a href="./date.hbs">Изменить данные</a>
        </button>
        <button type="button" class="btn btn-primary">
            <a href="./password.hbs">Изменить пароль</a>
        </button>
        <button type="button" class="btn btn-primary">
            <a href="*">Выход</a>
        </button>
    </footer>
</div>
