@import './src/theme';

.auth {
  margin: auto;
  background: #CFDCE6;
  border-radius: 8px 48px;
  width: 480px;
  height: 390px;

  &__header {
    color: $color-bright-green;
    display: flex;
    justify-content: center;
  }
}
