<aside class="users" id="users">
    <div class="users__main">
        <div class="avatar__wrap">
            <img src="../../static/images/avatar.png" alt="user avatar" class="avatar users__avatar" id="userAvatar">
        </div>
        <span class="users__name">use name</span>
    </div>
</aside>
