/** Colours **/
$color-bg-dark-grey: #ebf1f5;
$color-light-grey: #f5f8fa;
$color-middle-grey: #cfdde6;
$color-dark-grey: #899ba7;
$color-grey: #949ca7;
$color-light-red: #fdd1d5;
$color-middle-red: #ff2b2e;
$color-red: #e81123;
$color-pink: #fcdde0;
$color-light-orange: #fdf0c0;
$color-yellow: #ffc700;
$color-orange: #f29400;
$color-light-green: #d9f6e7;
$color-middle-green: #ccf1de;
$color-bg-light-green: #e2f7ec;
$color-green: #00cc63;
$color-bright-green: #00b859;
$color-black: #0f151a;
$color-white: #ffffff;
$color-blue: #00BAFC;
$color-light-blue: #e0f6fe;
$color-light-middle-blue: #c2effe;
$color-middle-blue: #00a8e5;
$color-dark-blue: #01a9e5;
$color-light-middle-grey: #b6c1c9;
$color-light-end-grey: #e1e9ef;
$color-underline-grey: #e1eaf0;
$color-BG-dark: #ebf1f5;